.container-rota {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 200px;
}

.container-txt-rota {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 125px;
    justify-content: space-around;
    align-items: center;
}

.titulo-rota {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.paragrafo-rota {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}