.sobre{
    width: 100vw;
    height: 800px;

    display: flex;
    flex-direction: column;



}
.container-txt-sobre{
    width: 100vw;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
.txt-sobre{
    width: 400px;
    height: 100px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

   
}

.titulo-sobre{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}

.container-info{
    width: 100vw;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin:10px 0px;
}

.infos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 600px;
    height: 200px;

    margin:20px;
    padding: 0px 20px;
}

.container-paragrafos{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

    width: 400px;
    height: 150px;
    padding-right: 15px;

}

.paragrafos{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    
}
.titulos{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.imgs{
    width: 200px;
    height: 200px;
}

